.section-title {
    color: #E21717;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}

@media only screen and (max-width:576px) {
    .items-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:576px) and (max-width:992px) {
    .items-container {
        grid-template-columns: repeat(2, 1fr);
    }
}